@CHARSET "UTF-8";

/* Das ist das Haupt-CSS, hier werden die Unter-CSS zusammengeführt */

@import url(css/content.css);
@import url(css/nav.css);
@import url(css/controls.css);
@import url(css/rating.css);


/* Google Font importieren: https://fonts.google.com */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

/* 
	Hauptfarbpalette: https://coolors.co/424b54-93a8ac-ffffff-e2b4bd-9b6a6c
		#424B54	Outer Space
		#93A8AC	Cadet Grey
		#FFFFFF	White
		#E2B4BD	Pale Chestnut
		#9B6A6C	Copper Rose
	
	Falls weitere Farben gebraucht werden, erst auf der Seite nach anderen Schattierungen schauen
*/

/*
	Verwendete Icons (bearbeitet), keine Lizenz benötigt:
	
	https://www.iconfinder.com/icons/2125607/blue_free_outline_people_profile_ui_icon
	https://www.iconfinder.com/icons/314478/search_icon
*/



/*
	Die Seite läuft wie gewünscht bei einer Bildschirmbreite von >= 1080px,
 	sonst kommt es aufgrund der Minimalbreite von Buttons zu einem Umbruch in den Suchleisten 
 */

/* 
	z.T. an orientiert an Styleguide-Vorschlägen:
	https://google.github.io/styleguide/htmlcssguide.html
	http://www.bbc.co.uk/guidelines/futuremedia/technical/css.shtml
*/


*
{
    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

	line-height: 1.35;

    color: #424b54;
    border: 0;
}

*:disabled
{
    color: #747474;
    background: #d1d1d1;
}

form *:disabled,
input[form]:disabled,
textarea[form]:disabled
{
	color: #424b54;
	background: #e8e8e8;
}

html,
body
{
	/* Default-Background: Wichtig falls jemand merkwürdige User Agent Stylesheets bzw. Browser-Einstellungen verwendet */
    background: #e8e8e8;
}
