.button {
	background-color: #E2B4BD;
    border: none;
    color: #FFFFFF;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}
.button-secondary {
	background-color: #93A8AC;
    border: none;
    color: #FFFFFF;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}

.button:hover
{
	background-color: #E7C1C9;
} 
.button-secondary:hover {
    background-color: #798A8D;
}

.button-disabled {
	background-color: #D3D3D3;
    border: none;
    color: 	#778899;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}

input {
	margin: 10px 5px 10px 0px; /* links 0, falls es das erste Element der Zeile ist */
}