.button {
	background-color: #E2B4BD;
    border: none;
    color: #FFFFFF;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    
    border-radius: 4px;
}
.button-secondary, .file-upload-label {
	background-color: #93A8AC;
    border: none;
    color: #FFFFFF;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    
    border-radius: 4px;
}

/* Damit ein File-Input wie ein Button aussehen kann */
input[type="file"] {
    display: none;
}

.button:hover
{
 	background-color: #E7C1C9;
	cursor: pointer;
} 
.button-secondary:hover, .file-upload-label:hover {
    background-color: #798A8D;
    cursor: pointer;
}

.button-disabled {
	background-color: #D3D3D3;
    border: none;
    color: 	#778899;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: default;
    border-radius: 4px;
}

input {
	margin: 10px 5px 10px 0px; /* links 0, falls es das erste Element der Zeile ist */
}

.textarea-transitional {
/* 	min-width: 600px; */
	width: 100%;
	height: 3em;
	transition: height 0.5s ease-in-out;
}

.textarea-transitional:focus {
	height: 8em;
}