@CHARSET "UTF-8";

/* https://css-tricks.com/all-about-floats/ */
.clearfix::after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

.hidden-block
{
	display: none !important;
}

.labelfortextarea
{
    display: block;
}

.recipe-title
{
    text-decoration: none;
}

.recipe-title:hover
{
    color: #e2b4bd;
}

.search-entry
{
    margin: 20px 0;
    padding: 20px 40px;

    border-radius: 5px;
    background: #fff;
}

.preview-img
{
    float: left;

    width: 30%;
    height: auto;

    object-fit: cover;
}

.preview-img ~ dl,
a ~ dl
{
    width: 70%;
    padding-left: 5%;
}

dt
{
    font-weight: bold;
}

/* Inspiriert von https://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line */
dl
{
    float: left;
    overflow: hidden;

    width: 100%;
}

dt,
dd
{
    display: inline-block;
    float: left;

    width: 50%;
}

/* Abstände bei Überschriften */
h1 { margin: 30px 0 10px; }
h2 { margin: 20px 0 10px; }
h3 { margin: 10px 0 5px; }

input,
textarea,
select,
button,
pre
{
    font-size: 1em;
    
    border-radius: 5px;
}

input:not([type='button']),
textarea
{
    min-width: 5em;
    padding: 5px;
}

label
{
    display: inline-block;

    min-width: 12em;
    padding: 5px 0;

    text-align: left;
}

main
{
    margin: 20px 20%;
/*     padding: 20px; */
/*     margin: 0 20%; */
/*     background: whitesmoke; */
}

main p
{
    margin: 5px 0;
}

pre
{
    font-family: 'Ubuntu Mono', monospace;

    padding: 20px;

    color: #fff;
    background: #333;
}

table
{
    border-collapse: collapse;
}

table th,
td
{
    text-align: left;

    border: 1px solid #424b54;
}

th,
td
{
    padding: 8px;
}

.newLine > * {
	float: left;
}

.zutatenZutat{
	margin-left: 5px;
}

.zutatenEinheit{
	margin: 10px 5px 10px 5px;
	padding: 4px;
}

input[type="number"]{
	width: 3em;
}

.rec-img {
    width: 100%;
    height: auto;
    margin: 10px 0 30px;
}