@charset 'UTF-8';

/* Übernommen von CHRIS COYIER: https://css-tricks.com/all-about-floats/ */
.clearfix::after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

/* experimentell */
form,
#editRecipe
{
    display: flex;

    flex-flow: row wrap;
}

.hidden-block
{
    display: none !important;
}

.labelfortextarea
{
    display: inline-block;

    width: 100%;
    margin: 10px 0;
}

.recipe-title
{
    text-decoration: none;
}

.recipe-title:hover
{
    color: #e2b4bd;
}

.search-entry
{
    margin: 20px 0;
    padding: 20px 40px;

    border-radius: 5px;
    background: #fff;
}

.search-entry h1,
.search-entry h2,
.search-entry h3, 
.search-entry h4, 
.search-entry h5,
.search-entry h6 
{
	margin: 0 0 12px;
}

.preview-img
{
    float: left;

    width: 30%;
    height: auto;

    object-fit: cover;
}

.preview-img ~ dl,
a ~ dl
{
    width: 70%;
    padding-left: 5%;
}

dl
{
    display: flex;
    float: left;
    overflow: hidden;

	margin-bottom: 10px;
    width: 100%;

    flex-flow: row wrap;
}

dt
{
    font-weight: bold;
}

dt,
dd
{
    display: inline-block;
/*     float: left; */
	overflow: hidden;

    width: 50%;
}

/* Abstände bei Überschriften */
h1
{
    margin: 30px 0 10px;
}
h2
{
    margin: 20px 0 10px;
}
h3
{
    margin: 10px 0 5px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    width: 100%;
}

input,
textarea,
select,
button,
pre,
p
{
    font-size: 1em;

    border-radius: 5px;
}


h1 input[type='text'],
h1 textarea
{
    width: 100%; /* Rezept-Titel in einer Zeile bei Input bzw. so breit wie h-Tag */
}

form button,
form label
{
    margin: 15px 0;
}

form button + button
{
    margin-left: 10px;
}

label
{
    font-weight: bold;

    display: inline-block;

    min-width: 12em;
    /*     padding: 5px 0; */

    text-align: left;
}

form > label,
form > div > label,
form label + input
{
    width: 50%;
}

main
{
    margin: 20px 20%;
    /*     padding: 20px; */
    /*     margin: 0 20%; */
    /*     background: whitesmoke; */
}

main p
{
    margin: 5px 0;
}

pre
{
    font-family: 'Ubuntu Mono', monospace;

    padding: 20px;

    color: #fff;
    background: #333;
}

table
{
    border-collapse: collapse;
}

table th,
td
{
    text-align: left;

    border: 1px solid #424b54;
}

th,
td
{
    padding: 8px;
}

th a,
td a
{
    vertical-align: middle;
}

.buttonRow,
.newLine
{
    display: flex;

    margin: 15px 0;

    flex-flow: row wrap;
    justify-content: space-between;
}

.newLine > *:not(button)
{
    width: 30%;
}

.newLine > input,
.newLine > select
{
    margin: 0;
    padding: 0;
}

form div,
form p
{
    width: 100%;
}

#zutaten
{
    width: 100%;
}

/* .zutatenZutat{ */
/* 	margin-left: 5px; */
/* } */

/* .zutatenEinheit{ */
/* 	margin: 10px 5px 10px 5px; */
/* 	padding: 4px; */
/* } */

/*  input[type="number"]{ */
/* 	width: 3em; */
/* } */

.rec-img
{
    width: 100%;
    height: auto;
    margin: 10px 0 30px;
}

/* 
Kommentarbox Idee: 	https://codepen.io/mm241/pen/Choyx 
Autor:				Mahdi (@mm241 on Codepen)		
*/
.commentBox:before
{
    position: absolute;
    bottom: -8px;
    left: 20px;

    display: block;

    width: 0;

    content: '';

    border-width: 8px 8px 0;
    border-style: solid;
    border-color: #bbb rgba(0, 0, 0, 0);
}
.commentBox:after
{
    position: absolute;
    bottom: -6px;
    left: 22px;

    display: block;

    width: 0;

    content: '';

    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #fff rgba(0, 0, 0, 0);
}
.commentBox
{
    position: relative;

    display: table;

    min-width: 60%;
    margin-bottom: 10px;
    padding: 10px 10px;

    border: 1px solid #bbb;
    border-radius: 5px;
    background: none repeat scroll 0 0 #fff;
}

#newComment
{
    min-width: 60%;
}
.commentContent
{
    word-break: break-all;
}

#rating-label
{
    width: auto;
    min-width: auto;
    margin: 10px 10px;
    padding: 5px 10px;

    border: 1px solid #bbb;
    border-radius: 50%;
}
