@charset "UTF-8";

.button
{
    color: #fff;
    background-color: #e4bac3;
}

.button,
.button-secondary,
.button-disabled
{
    font-size: 100%;
	font-weight: normal;
	
    display: inline-block;

/*     min-width: 8em; */
    padding: 10px 25px;

    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 5px;
}

.button-disabled
{
    cursor: default;

    color: #789;
    background-color: #d3d3d3;
}


input + .button-input-search
{
    width: 25%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.button-secondary
{
    color: #fff;
    background-color: #93a8ac;
}

.button-secondary:hover
{
    cursor: pointer;

    background-color: #798a8d;
}


.button:hover
{
    cursor: pointer;

    background-color: #b9949b;
}


.button-del
{
	background: transparent url(../icons/trash_black.png) center center / 25px 25px no-repeat;
	width: 1em;
	height: 1.5em;
	margin: 0;
	display: inline-block;
}
.button-del:hover
{
	cursor: pointer;
}

.commentBox > .button-del
{
	float: right;
}

.textarea-transitional
{
    /* 	min-width: 600px; */
    width: 100%;

}

#button-bar > button{
	flex: 1;
}

#profileDataButton{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#ownRecipesButton {
	border-radius: 0;
}

#savedRecipesButton {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

button[name="deleteAbo"] {
/* 	float: right; */
	    margin: auto;
    display: block;
}

input
{
    margin: 10px 0;
    /* links 0, falls es das erste Element der Zeile ist */
}

/* Damit ein File-Input wie ein Button aussehen kann */
input[type='file']
{
    display: none;
}

input[type='search']
{
    width: 75%;
    margin: 0;
    padding: 10px 20px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #a6b7bb;
}

input[type='search']::placeholder
{
    color: #e8e8e8;
}

input[type='search']:focus
{
    color: #424b54;
    background-color: #fff;
}