@charset "UTF-8";

/* https://css-tricks.com/all-about-floats/ */
.clearfix::after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

/* experimentell */
form,
#editRecipe
{
	display: flex;
	flex-flow: row wrap;
}


.hidden-block
{
	display: none !important;
}

.labelfortextarea
{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.recipe-title
{
    text-decoration: none;
}

.recipe-title:hover
{
    color: #e2b4bd;
}

.search-entry
{
    margin: 20px 0;
    padding: 20px 40px;

    border-radius: 5px;
    background: #fff;
}

.preview-img
{
    float: left;

    width: 30%;
    height: auto;

    object-fit: cover;
}

.preview-img ~ dl,
a ~ dl
{
    width: 70%;
    padding-left: 5%;
}

dt
{
    font-weight: bold;
}

/* Inspiriert von https://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line */
dl
{
    float: left;
    overflow: hidden;

    width: 100%;
}

dt,
dd
{
    display: inline-block;
    float: left;

    width: 50%;
}

/* Abstände bei Überschriften */
h1 { margin: 30px 0 10px; }
h2 { margin: 20px 0 10px; }
h3 { margin: 10px 0 5px; }

h1, h2, h3, h4, h5, h6 {
	width: 100%;
}

input,
textarea,
select,
button,
pre
{
    font-size: 1em;
    
    border-radius: 5px;
}

input:not([type='button']),
textarea
{
	min-width: 12em;
}

form button,
form label
{
	margin: 15px 0;
}

form button + button {
	margin-left: 10px;
}

label
{
    display: inline-block;
	
	font-weight: bold;
    min-width: 12em;
/*     padding: 5px 0; */

    text-align: left;
}

form > label,
form > div > label,
form label + input {
	width: 50%;
}

main
{
    margin: 20px 20%;
/*     padding: 20px; */
/*     margin: 0 20%; */
/*     background: whitesmoke; */
}

main p
{
    margin: 5px 0;
}

pre
{
    font-family: 'Ubuntu Mono', monospace;

    padding: 20px;

    color: #fff;
    background: #333;
}

table
{
    border-collapse: collapse;
}

table th,
td
{
    text-align: left;

    border: 1px solid #424b54;
}

th,
td
{
    padding: 8px;
}

th a,
td a
{
	vertical-align: middle;
}

.newLine 
{
	margin: 15px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.newLine > *:not(button) {
	width: 30%
}

.newLine > input,
.newLine > select
{
	padding: 0;
	margin: 0;
}

form div,
form p
{
	width: 100%;
}

#zutaten {
	width: 100%;
}

/* .zutatenZutat{ */
/* 	margin-left: 5px; */
/* } */

/* .zutatenEinheit{ */
/* 	margin: 10px 5px 10px 5px; */
/* 	padding: 4px; */
/* } */

/*  input[type="number"]{ */
/* 	width: 3em; */
/* } */

.rec-img {
    width: 100%;
    height: auto;
    margin: 10px 0 30px;
}

/* 
Kommentarbox Idee: 	https://codepen.io/mm241/pen/Choyx 
Autor:				Mahdi (@mm241 on Codepen)		
*/
.commentBox:before
{
    border-color: #bbb rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -8px;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    width: 0;
}
.commentBox:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 6px 6px 0;
    bottom: -6px;
    content: "";
    display: block;
    left: 22px;
    position: absolute;
    width: 0;
}
.commentBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px 10px;
    position: relative;
    margin-bottom: 10px;
    display: table;
    min-width: 60%;
}

.commentContent {
	word-break: break-all;
}

#rating-label {
	min-width: auto;
    width: auto;
    border: 1px solid #bbb;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 10px 10px;
}