@CHARSET "UTF-8";

#navlist-left
{
    display: flex;
    float: left;

    justify-content: center;
}

#navlist-right
{
    display: flex;
    float: right;

    justify-content: center;
}

#profile-container
{
    text-align: right;
}

#search-container .search-bar
{
    background-color: #373e45;
}

#search-container .search-bar:focus
{
    background-color: #fff;
}

#search-container .search-bar:hover
{
    cursor: text;
}

#username-label
{
    display: inline-block;

    color: #fff;
}

.button-nav
{
    display: inline-block;

    width: 55px;
    height: 55px;

    cursor: pointer;

    border: none;
    background: transparent center center / 48px 48px no-repeat;
}

.button-nav#profile-b
{
    background-image: url(../icons/profile_white.png);
    background-size: 38px 38px;
}

.button-nav#profile-b:hover
{
    background-image: url(../icons/profile_rose.png);
}

.button-nav#search-b
{
    background-image: url(../icons/search_white.png);
}

.button-nav#search-b:hover
{
    background-image: url(../icons/search_rose.png);
}

.nav-but ~ .nav-but
{
    margin-left: 20px;
}

.nav-container
{
    display: flex;
    flex-direction: column;

    height: 67px;
    transition: all .4s ease-in-out;

    opacity: 1;

    justify-content: center;
}

.nav-container.hide
{
    height: 0;

    opacity: 0;
}

.search-bar
{
    display: inline-block;

    width: 75%;
    margin: 0;
    padding: 10px 20px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #373e45;
}

.nav-container *
{
    visibility: visible;

    transition: opacity .6s ease-in;

    opacity: 1;
}

.nav-container.hide *
{
    visibility: hidden;

    transition: opacity .3s ease-out;

    opacity: 0;
}

li a
{
    display: inline-block;

    padding: 20px 5px;

    text-align: center;
    text-decoration: none;

    color: #fff;
}

li a:hover
{
    background-color: #424b54;
}

nav li,
nav span
{
    display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: center;
}

/* keine Bulletpoints in der Liste */
nav ul
{
    display: inline-block;
    overflow: hidden;

    width: auto;

    list-style-type: none;
}

nav
{
    padding: 0 20%;

    background-color: #757c82;
    
    	
    	
    	display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: center;
}
